@import "tailwindcss";


@keyframes slideBounce {
  0% {
    transform: translate(100px, -60px) scale(0.95);
    opacity: 0;
  }

  60% {
    transform: translate(0, 0) scale(1.02);
    opacity: 1;
  }

  80% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

.animate-slide-bounce {
  animation: slideBounce 0.85s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.95;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes logoFade {
  0% {
    opacity: 0;
    transform: translateY(-6px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-logoFade {
  animation: logoFade 0.5s ease-out;
}

/*upload products*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(.85);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn .3s ease-out;
}

/* category product */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*shimmer */
.shimmer {
  background: linear-gradient(90deg, #e0e0e0 0%, #f5f5f5 50%, #e0e0e0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}